<div class="flex justify-center p-4 mb-20">
    <div class="text-center">
        <%= image_tag "Empty Note Infographic Image.png" %>
        <h2 class="text-lg font-bold mb-3">You don't have any notes yet</h2>
        <p class="font-light mb-4">Please add the note by clicking the add note button </p>
        <a href="<%= new_note_path %>">
            <div class="flex bg-[#F04C55] text-white justify-center items-center gap-2 rounded-md border-[#F04C55] md:w-40 mx-auto hover:opacity-80">
                <div class="text-4xl mb-1">+</div>
                    <div>Add Note</div>
            </div>
        </a>
    </div>
</div>